<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Categoria</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <div class="text-button">
            <h1>Insira nova categoria</h1>
            <label>Nome da categoria: 
            </label><input placeholder="Categoria..."type="text">
            </label>
            <br>
            <br>
            <button type="submit">Salvar</button>
        </div>
    </form>
</body>
</html>